@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: "#ffffff";
    --foreground: "#000000";
  }

  .dark {
    --background: "#000000";
    --foreground: "#ffffff";
  }
}
