---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import { generateLinkedContentList } from "../lib/utils";

const heading = "From the Cheat Sheet";
const paragraph =
  "Discover insights and handy tips to streamline your coding journey, straight from our comprehensive cheat sheet.";

const docs = await getCollection("documentation");

const data = generateLinkedContentList(docs, "/documentation/");
---

<Layout>
  <Hero />
  <div class="bg-background py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2
          class="text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
        >
          {heading}
        </h2>
        <p class="mt-2 text-lg leading-8 text-foreground/70">{paragraph}</p>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {data.map((doc) => <Card {...doc} />)}
      </div>
    </div>
  </div>
</Layout>
