---
const { frontmatter } = Astro.props;
---

<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">Cheat Sheet</p>
    <h1
      class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
    >
      {frontmatter.title}
    </h1>
    <p class="mt-6 text-xl leading-8">{frontmatter.description}</p>
    <article class="mt-10 prose lg:prose-xl">
      <slot />
    </article>
  </div>
</div>
